@import "tailwindcss";

@theme inline {
  /* Greys (6 tons) */
  --color-grey-darkest: #000000;
  --color-grey-darker: #252525;
  --color-grey-dark: #3a3a3a;
  --color-grey-lighter: #a3a3a3;
  --color-grey-light: #e0e0e0;
  --color-grey-lightest: #ffffff;

  /* Accents */
  --color-primary-lighter: #fff0c7;
  --color-primary: #fcca46;
  --color-primary-dark: #7e682d;
  --color-primary-darker: #261e0a;
  --color-secondary: #9bd5eb;
  --color-tertiary: #e279a3;
  --color-quaternary: #bad6a9;

  /* Font families */
  --font-outfit: "Outfit", sans-serif;
  --font-orbitron: var(--font-orbitron), "Orbitron", sans-serif;
}

body {
  background: var(--color-grey-darkest);
  color: var(--color-grey-lightest);
  font-family: var(--font-outfit);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-orbitron);
  }
}

.team-member-card:hover .team-member-bg {
  background-position: var(--bg-pos-hover) !important;
}

@media (hover: none) {
  .team-member-bg {
    background-position: var(--bg-pos-hover) !important;
  }
}
